body {
  background-color: #78abe078;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  color: rgb(0, 0, 0);
}

.mlogo {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: 25%;
  margin-right: auto;
}

.sidebar {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.full-height {
  position: fixed;
  bottom: 5px;
  background: rgb(255, 255, 255);
  margin-left: 8%;
  display: block;
}

#rcorners1 {
  border-radius: 25px;
  margin-top: 2%;
  margin-left: 10%;
  background: rgb(228, 228, 228);
  padding: 20px;
  width: 85vw;
  height: 48.5rem;
}

.container {
  position: relative;
  width: 50%;
  margin: 10px;
}

.container2 {
  position: relative;
  width: 48.5%;
  margin: 10px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(236, 111, 111);
}

.container:hover .overlay {
  opacity: 95%;
}
.container2:hover .overlay {
  opacity: 95%;
}

.text {
  color: #000000;
  font-size: 3.125rem;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.food {
  display: block;
  width: 100%;
  height: auto;
}

.d-flex
{
  display: flex; 
}
.d-flex2
{
  display: flex; 
}

.bottom-text
{
  color: #000000;
  font-size: 1.25rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

footer {
  background-color: #111;
  color: #818181;
  padding: 2em;
  margin-top: 1%;
  position: absolute;
  width: 100%;
  
}

.copyright {
  text-align: center;
}